<h3>About Sportsball Squares</h3>

<p>
  I actually kind of hate the term "Sportsball." I think it's used by folks to say that they think sports are unimportant. Or at least to refer to sports in a diminuitive way.
</p>

<p>
  I registered sbsquar.es with the intention of this being superbowl squares. But then I wanted to add hoops and I think AI suggested sportsball. It kinda fit, and here we are...
</p>

