<h3>Let's do us some gamblin'!</h3>

<p>Will this be ready for the actual Super Bowl this year? This is a now annual question...</p>

<strong>Update:</strong> <span>It's kinda ready...haven't tested much, missing many features, looks like cheeks on mobile, and lots of rough edges.</span>
<br>
<br>
<p>With that, <%= link_to "pick some squares", Board.find(1) %> if you're feeling lucky...</p>
