<div id="<%= dom_id game %>">
  <p>
    <strong>Team 1:</strong>
    <%= game.team_1 %>
  </p>

  <p>
    <strong>Team 2:</strong>
    <%= game.team_2 %>
  </p>

  <p>
    <strong>Game date:</strong>
    <%= game.game_date %>
  </p>

</div>
