<table style="width: 300px;">
  <thead>
    <td><strong>Place</strong></td>
    <td><strong>Winner</strong></td>
  </thead>
  <% (1..4).each do |n| %>
    <tr>
      <td><%= n %></td>
      <td><%= @game.winner(n)&.nickname || "" %></td>
    </tr>
  <% end %>
</table>

