<p style="color: green"><%= notice %></p>

<div class="wa-stack">
  <% (0..9).each do |row| %>
    <div class="wa-cluster">
      <% (0..9).each do |column| %>
        <wa-checkbox></wa-checkbox>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
