<div id="<%= dom_id board %>">
  <div>
    <strong>Name:</strong>
    <%= board.name %>
  </div>

  <div>
    <strong>Square price:</strong>
    <%= board.square_price %>
  </div>

  <div>
    <strong>Game:</strong>
    <%= board.game_id %>
  </div>

</div>
