<%= form_with(model: board) do |form| %>

  <div class="wa-grid wa-gap-xs" style="grid-template-columns: repeat(10, 5rem);">
    <% (0..9).each do |row| %>
      <% (0..9).each do |column| %>
        <% if board.squares.find_by(row: row, column: column)&.nickname %>
          <wa-card ><%= "#{board.squares.find_by(row: row, column: column)&.nickname}" %></wa-card>
        <% else %>
          <wa-card ><%= "FU" %></wa-card>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= form.submit %>
<% end %>

