<div class="wa-grid wa-gap-xs" style="grid-template-columns: repeat(10, 5rem);">
  <% (0..9).each do |row| %>
    <% (0..9).each do |column| %>
      <wa-card ><%= "FU" %></wa-card>
    <% end %>
  <% end %>


</div>

