<table style="max-width: 300px;">
  <caption class="wa-heading-l">Winners!</caption>
  <thead style="font-weight: bold;">
    <td>Quarter</td>
    <td>Winner</td>
  </thead>
  <tbody>
    <% 4.times do |i| %>
      Fuck you
    <% end %>
  </tbody>
</table>


