<%= link_to "/", style: "text-decoration: none;" do %>
  <div class="wa-cluster" style="font-size: 50px;">
    <wa-icon family="sharp-duotone" type="thin" name="football" style="--primary-color: var(--wa-color-yellow-20); --secondary-color: var(--wa-color-gray-95);"></wa-icon>
    <wa-icon family="sharp-duotone" type="thin" name="basketball" style="--primary-color: var(--wa-color-gray-05); --secondary-color: var(--wa-color-red-10);"></wa-icon>
    <strong class="wa-heading-4xl" style="color: #000000;">Sportsball Squares</strong>
  </div>
<% end %>
